
# Visual Studio Code settings
.vscode/

# Python virtual environment
env/
venv/

# Environment variables
.env

# Package metadata
Project1_Document_portal.egg-info/ 

# Log files
logs/ 

# Py cache files
*.pyc


# data directory
data/

# local test files
test.py

# local vector store
faiss_index/

# archives
archives
# temp code files 

# Notes related to projects
project_improvement.txt
incline_policy.json
instruction_for_deployment.txt