
# Visual Studio Code settings
.vscode/

# Python virtual environment
env/
venv/

# Environment variables
.env

# Package metadata
Project1_Document_portal.egg-info/ 

# Log files
logs/ 

# Py cache files
*.pyc


# data directory
data/

# local test files
test.py

# local vector store
faiss_index/

# temp code files 
src/multi_doc_chat/data_ingestion_copy.py
src/multi_doc_chat/retrieval_copy.py
project_improvement.txt